.container-kanban
{
    width: 100%;
    height: 475px;    
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    white-space: nowrap;
}

.container-kanban > .panel-kanban
{
    position: relative;
    height: 400px;
    width: 200px; 
    display: inline-block;
    margin-left: 5px;
}

.panel-kanban > .panel-header
{
    width: 100%;
}

.panel-kanban > .panel-header > .title {
    text-align: center;
}

.panel-kanban > .panel-cards
{
    height: 100%;
    width: 200px;
    border: 1px solid #808080;
    overflow-y: scroll;   
    padding: 3px; 
}
.panel-cards > .card {
    clear: both;
    border: 1px solid #818181;
    border-radius: 3px;
    width: 100%;
    min-height: 100px;
    margin-top: 3px;
    cursor: move; 
    padding: 5px;
}
.card-placeholder {
    margin-top: 3px; 
    width: 100%;
    background-color: #eee;
    min-height: 100px;
}

.card.yellow-card{
    border-left: 3px solid #ffc425;
}

.card.blue-card{
    border-left: 3px solid 	#00aedb;
}

.card.red-card{
    border-left: 3px solid 	#d11141;
}

.card.green-card{
    border-left: 3px solid #00b159;
}

.card.orange-card{
    border-left: 3px solid 	#f37735;
}

